
@{
    ViewBag.Title = "Submit Form";
}

<h2>Submit a form</h2>
<br />

<div id="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" />
    </div>
    <div class="form-group">
        <label for="surname">Surname</label>
        <input id="surname" />
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" />
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input id="email" />
    </div>
    <button type="submit">Submit Form</button>
</div>

