@{
    ViewBag.Title = "About InternRecruiter";
}
<h2>@ViewBag.Title</h2>
<h4>
    @*A few words about the application*@
</h4>
<p>
    The purpose of this application is to help an IT company look for potential interns. <br />
    The application should make the process of recruiting interns a lot easier for the company and for the members assigned to recruit the interns. <br /><br />
    If you have submitted an Internship Application, you can view it by clicking on your username (top right corner) and selecting "MY APPLICATION" option. <br />
    You can only submit one application per registered user.<br/><br/>
    Note: The email address from the account you login with will be used as an email for the Internship Application.
</p>
