<div class="jumbotron">
    <h1>Welcome to InternRecruiter</h1>
    <p class="lead">InternRecruiter makes recruiting interns in an IT company a lot easier for both the potential intern and the Human Resources team.</p>
    <p><a href="../Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Are you new around here?</h2>
        <p>
            Do you want to be part of our team? Get easy access to the application formular with a simple register! Complete the formular with your data,
            submit the formular and wait for an email with the result. <br />
        </p>
        <p>
            <a class="btn btn-default" href="../Home/About">Learn More &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Are you already registered?</h2>
        <p>
            You can access the formular by clicking on the "Submit Application" menu button once you are registed or you can do it by clicking on the button below.
        </p>
        <p>
            <a class="btn btn-default" href="../InternshipApplications/SubmitApplication">Get Started &raquo;</a>
        </p>
    </div>
</div>

<style>
    .jumbotron {
        background-color: #ffffff;
    }
</style>